<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A2ZWholesale</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="./styles/styles.css"
      href="public/styles/img"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Header Start-->
    <header class="bg-amit py-4 shadow-sm">
      <div class="container flex items-center justify-center">
        <!--logo-->
        <a href="/home">
          <img src="/images/asollogo.png" class="ml-6 mr-36 w-20" />
        </a>

      <!--searchbar-->
      <form method="get" action="/search">
        <div class="relative mr-16 flex w-full max-w-xl">
          <span class="absolute left-2 top-3 text-lg text-gray-400">
            <i class="fas fa-search"></i>
          </span>
          <input
            type="text"
            class="w-full rounded-l-md border border-r-0 border-black py-3 pl-12 pr-3 focus:outline-none"
            placeholder="Search" name="name"
          />
          <button class="rounded-r-md border-black bg-black px-8 text-white">
            Search
          </button>
        </div>
        </form>

        <!--icons-->

        <div class="ml-16 mr-16 flex items-center space-x-8">
          <a href="/cart" class="relative text-center text-gray-700">
            <div class="text-2xl">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="text-[15px] leading-3">Cart</div>
          </a>
          <a href="/dashboard" class="relative text-center text-gray-700">
            <div class="text-2xl">
              <i class="fa-solid fa-user-large"></i>
            </div>
            <div class="text-[15px] leading-3">Account</div>
          </a>
        </div>
      </div>
    </header>


    <!-- navbar start-->

    <nav class="bg-gray-800">
      <div class="container flex ml-6">
        <div
          class="px-8 py-4 bg-red-500 flex item-center cursor-pointer relative group"
        >
          <span class="text-white">
            <i class="fas fa-bars"></i>
          </span>
          <span class="capitalize ml-2 text-white">All Categories</span>

          <div
            class="absolute w-full left-0 top-full bg-white shadow-md py-3 divide-y divide-red-500 divide-dashed hidden group-hover:block"
          >
            <a
              href="/elctronics"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
            >
              <span class="ml-6 text-black text-sm font-bold">ELECTRONICS</span>
            </a>
            <a
              href="/clothing"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
            >
              <span class="ml-6 text-black text-sm font-bold">CLOTHING</span>
            </a>
            <a
              href="/cosmetics"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
            >
              <span class="ml-6 text-black text-sm font-bold">COSMETICS</span>
            </a>
            <a
              href="/geroceries"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
            >
              <span class="ml-6 text-black text-sm font-bold">GEROCERIES</span>
            </a>
            <a
              href="/sports_item"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
            >
              <span class="ml-6 text-black text-sm font-bold"
                >SPORTS ITEMS</span
              >
            </a>
            <a
              href="/kitchen"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
            >
              <span class="ml-6 text-black text-sm font-bold">KITCHEN</span>
            </a>
            <a
              href="/tools"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
            >
              <span class="ml-6 text-black text-sm font-bold">TOOLS</span>
            </a>
            <a
              href="/baby_items"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
            >
              <span class="ml-6 text-black text-sm font-bold">BABY ITEMS</span>
            </a>
            <a
              href="/jewelery"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition"
            >
              <span class="ml-6 text-black text-sm font-bold">JEWELERY</span>
            </a>
          </div>
        </div>

        <!--link start-->
        <div class="flex flex-grow items-center justify-between pl-12">
          <div class="flex items-center space-x-6 capitalize">
            <a href="/home" class="text-white transition hover:text-white"
              >Home</a
            >
            <a href="/shop" class="text-white transition hover:text-white"
              >Shop</a
            >
            <a
              href="/order_tracking"
              class="text-white transition hover:text-white"
              >Order Tracking</a
            >
            <a href="/refund" class="text-white transition hover:text-white"
              >Exchange/Refund</a
            >
            <a href="/information" class="text-white transition hover:text-white"
              >Information</a
            >
          </div>
          <a href="/login" class="mr-16 text-white">Login/Register</a>
        </div>

        <!--link end-->
      </div>
    </nav>
    <!-- navbar end-->
    <div class="container p-8 mx-auto mt-12 bg-white">
      <div class="w-full overflow-x-auto">
        <div class="my-2">
          <h3 class="text-xl font-bold tracking-wider">Shopping Cart</h3>
        </div>
        <table class="w-full shadow-inner">
          <thead>
            <tr class="bg-gray-100">
              <th class="px-6 py-3 font-bold whitespace-nowrap">Image</th>
              <th class="px-6 py-3 font-bold whitespace-nowrap">Product</th>
              <th class="px-6 py-3 font-bold whitespace-nowrap">Quantity</th>
              <th class="px-6 py-3 font-bold whitespace-nowrap">Price</th>
              <th class="px-6 py-3 font-bold whitespace-nowrap">Remove</th>
              <th class="px-6 py-3 font-bold whitespace-nowrap">Subtotal</th>
            </tr>
          </thead>

          <tbody>
            <!--cart code -->
            <% cart.forEach(function(item) { %>
            <tr>
              <td>
                <div class="flex justify-center">
                  <img
                    src="images/<%= item.image %>"
                    class="object-cover h-28 w-28 rounded-2xl"
                    alt="image"
                  />
                </div>
              </td>
              <td class="p-4 px-2 text-center whitespace-nowrap">
                <%= item.Product_Name %>
              </td>

              <!-- increase/decrease-->
              <td class="p-4 px-6 text-center whitespace-nowrap">
                <form method="post" action="/edit_product_quantity">
                  <input
                    type="hidden"
                    value="<%= item.Product_Id %>"
                    name="Product_Id"
                  />
                  <input
                    type="submit"
                    value="-"
                    class="p-2 px-2 text-center whitespace-nowrap"
                    name="decrease_product_quantity"
                  />
                  <input
                    type="text"
                    name="quantity"
                    class="w-12 text-center bg-gray-100 outline-none"
                    value="<%= item.quantity %>"
                    readonly
                  />
                  <input
                    type="submit"
                    value="+"
                    class="p-2 px-2 text-center whitespace-nowrap"
                    name="increase_product_quantity"
                  />
                </form>
              </td>
              <td class="p-4 px-6 text-center whitespace-nowrap">
                <%= item.Price %>
              </td>

              <!-- remove-->
              <td class="p-4 px-6 text-center whitespace-nowrap">
                <form method="post" action="/remove_product">
                  <input
                    type="hidden"
                    name="Product_Id"
                    value="<%= item.Product_Id%>"
                  />
                  <input
                    type="submit"
                    name="remove_btn"
                    value="Remove"
                    class="px-2 py-0 text-black"
                  />
                </form>
              </td>

              <td class="p-4 px-6 text-center whitespace-nowrap">
                <% if(item.sale_price) { %>
                <span class="product-price"
                  >Tk <%= item.sale_price*item.quantity %></span
                >
                <%} else{ %>
                <span class="product-price"
                  >Tk <%= item.Price*item.quantity %></span
                >
                <% } %>
              </td>
            </tr>
            <!-- cart code end-->
          </tbody>

          <% }) %>
        </table>

        <div class="lg:w-2/4">
          <div class="mt-4">
            <div class="px-4 py-4 rounded-md">
              <label for="coupon code" class="font-semibold text-gray-600"
                >Coupon Code</label
              >

              <form method="post" action="/coupon">
                <input
                  type="text"
                  placeholder="Add coupon code before checkout"
                  name="Coupon_Code"
                  class="w-full px-2 py-2 border border-gray-600 rounded-md outline-none"
                />

                <button
                  class="px-6 py-2 mt-2 text-sm text-indigo-100 bg-gray-600 rounded-md hover:bg-gary-700"
                >
                  Apply
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="py-4 rounded-md shadow">
            <h3 class="text-xl font-bold text-blue-600">Order Summary</h3>
            
            <div
              class="
                flex
                items-center
                justify-between
                px-4
                py-2
                mt-3
                border-t-2
              "
            >
              <span class="text-xl font-bold">Total</span>
              <span class="text-2xl font-bold"><%= total %></span>
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-4 space-x-2">
 
          <button>
           
           <form method="get" action="/catagory">
             <input type="submit" class="px-6 py-3 text-sm text-white bg-gray-500 rounded-md hover:bg-gray-600" value="Cancel">
            </form>
          
           </button>
 
          <button>
            
            <form method="get" action="/checkout">
             <input type="submit" class="px-6 py-3 text-sm text-white bg-gray-600 rounded-md hover:bg-gray-700" value="Checkout">
            </form>
           
          </button>
        
         </div>
        
       </div>
     </div>
    <!--copyright-->
    <div class="bg-gray-800 py-4 flex">
      <div class="container flex text-center justify-between">
        <p class="text-white text-center ml-6">
          A2ZWholesale - All Rights reserved
        </p>
      </div>

      <!--social media-->
      <div class="flex space-x-6 mr-16">
        <a href="#" class="text-white">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="text-white">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="text-white">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </body>
</html>
